<section class="section cta-soutien bg-violet">
    <div class="cta-image">
        <img src="{{ "/assets/images/soutien_homepage.png" | relative_url }}" alt="" >
    </div>
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-12 col-md-5 d-flex justify-content-center flex-column">
                <h2 class="mb-56"><span>Accompagner une endogirl</span></h2>
                <h3 class="titre_sommaire_accueil">Comment soutenir ?</h3>
                <p class="card-text">Si tu veux savoir <b>comment aider</b> l’une de tes <b>proches</b> qui est atteinte d’endométriose, alors tu es au bon endroit. </p>
                <a href="/que-m-arrive-t-il/" class="btn btn-secondary">Devenir un allié</a>
            </div>
        </div>
    </div>
</section>