<header id="header">
    <nav class="navbar navbar-expand-lg navbar-light w-100 bg-white fixed-top shadow">
        <div class="container-fluid container-lg align-items-lg-center bg-white">
            <a class="navbar-brand" href="/" title="{{ site.title }} - Retour à l'accueil">
                <img id="logo-site" class="img-fluid" src="{{ "/assets/images/logo-bouillotteetculotte.svg" | relative_url }}" alt="Bouillotte et Culotte" />
            </a>
            <button class="navbar-toggler" onclick={menu()} type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNav">
                <ul class="navbar-nav">
                    {% for item in site.data.header-menu %} 
                        {% if item.level == 1 %}
                        <li class="nav-item">
                            <a class="{% if page.url == item.link or page.url == item.sublink-1 or page.url == item.sublink-2 or page.url == item.sublink-3 %}active{% endif %} {% if item.type == 'button' %}btn btn-secondary ms-lg-4{% endif %} {% if item.type == 'link' %}nav-link{% endif %}" {% if page.url==item.link %}aria-current="page" {% endif %} href="{{ item.link }}">{{ item.name }}</a>
                        </li>
                        {% endif%}
                        {% if item.level == 2 %}
                        <li class="nav-item">
                            <a class="nav-link position-relative {% if page.url == item.link %}active{% endif %}" {% if page.url==item.link %}aria-current="page" {% endif %} href="{{ item.link }}">{{ item.name }}</a>
                            <div class="dropdown-">
                                <ul class="dropdown-menu dropdown-content lg-shadow" aria-labelledby="navbarDropdown">
                                    {% if item.sublink-1 %}
                                    <li><a class="dropdown-item {% if page.url == item.sublink-1 %}active{% endif %}" {% if page.url==item.sublink-1 %}aria-current="page" {% endif %} href="{{ item.sublink-1 }}">{{ item.subname-1}}</a></li>
                                    {% endif %}
                                    {% if item.sublink-2 %}
                                    <li><a class="dropdown-item {% if page.url == item.sublink-2 %}active{% endif %}" {% if page.url==item.sublink-2 %}aria-current="page" {% endif %} href="{{ item.sublink-2 }}">{{ item.subname-2}}</a></li>
                                    {% endif %}
                                    {% if item.sublink-3 %}
                                    <li><a class="dropdown-item {% if page.url == item.sublink-3 %}active{% endif %}" {% if page.url==item.sublink-3 %}aria-current="page" {% endif %} href="{{ item.sublink-3 }}">{{ item.subname-3}}</a></li>
                                    {% endif %}   
                                </ul> 
                            </div>
                            
                        </li>
                        {% endif%} 
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</header>