<section class="section recos-medecins">
    <div class="row">
            {% for item in site.data.recos-medecins %}
                
                <div class="recos-card col-lg-8">
                    {% if item.title %}<h2>{{ item.title }}<span>{{ item.title-span }}</span></h2>{% endif %}
                    <h3 class="col-6 col-lg-4 titre-reco">{{ item.name }}</h3>

                    <div class="contenu-recos">
                        <div class="col-6 col-lg-4 img">
                            {{ item.img }} 
                        </div>
                        <p class="col align-self-center col-6">{{ item.description }}</p>
                    </div>
                </div>

            {% endfor %}
    </div>
</section>