<div class="reponse container">

    {% for item in site.data.reponse %}

    <h4>{{ item.title-reponse }}</h4>
    <p class="mb-56">{{ item.description }}</p>

    <div class="cadre d-block mx-auto w-75 border border-dark border-3 h-100 mb-72">
        <div class="d-flex border-bottom border-3 border-dark p-1">
            <img  src="/assets/images/croix.svg" alt="croix">
            <span class="d-flex mx-auto">{{ item.title-reponse}}</span>
        </div>

        <div class="row d-flex justify-content-center mt-5 align-items-center">
            <img class="col-1" src="/assets/images/le-petit-chaperon-rouge.png" alt="avatar">
            <p class="reponse2 p-3 col-7 mb-0 text-center fw-bold fst-italic bg-secondaire">{{ item.question }}</p>
        </div>

        <div class="row d-flex justify-content-center mb-5 mt-4 align-items-center">
            <p class="reponse2 p-3 col-7 mb-0 bg-fuschia">{{ item.reponse }}</p>
            <img class="col-1" src="/assets/images/le-petit-chaperon-rouge.png" alt="avatar">
        </div>
    </div>
         

    {% endfor %}

    
</div>