
.accordion{
    margin-top: 75px;
}

.accordion-button{
    background-color: $rose;
    color: $white;
    border-radius: 15px;
    &:focus{
        border: none;
        box-shadow: none;
    }
    &:not(.collapsed){
        background-color: $rose;
        color:$white;
        &::after{
            content:"";
            width: 1.5rem;
            height: 1.5rem;
            margin-left: auto;
            background-image: url('/assets/images/+.svg');
            background-repeat: no-repeat;
            background-size: 1.5rem;
        }
    }
    &::after{
        content:"";
        width: 1.5rem;
        height: 1.5rem;
        margin-left: auto;
        background-image: url('/assets/images/+.svg');
        background-repeat: no-repeat;
        background-size: 1.5rem;
        // transition: transform .2s ease-in-out;
    }
}

.accordion-item:last-of-type .accordion-button.collapsed{
    border-radius: 15px;
}

.accordion-item:first-of-type .accordion-button{
    border-radius: 15px;

}

.accordion-item{
    border : none;
    margin-bottom: 15px;
    border-radius: 15px;
}

.accordion-collapse{
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    .accordion-body{
        padding: 30px 50px 20px;
        margin-top: -10px;
        ul{
            list-style-type: none;
            padding-left: 0;
            margin: 0;
        }
        
    }
}

.accordion-item:last-of-type .accordion-collapse {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }


