.banner{
    background: $rose;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 325px;
    position: sticky;
    top: 50px;
    width: 100%;
    z-index: 1;
    padding: 50px 0;

}


.banner-titles{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1,p{
        color: #fff;
    }
}

.breadcrumb-item{
    text-decoration: none;
    font-weight: 300;
    opacity: .8;
    a{
        color: white;
    }
    &.active{
        opacity: 1;
        color: white;
    }
}



    


