.banner{
    background: $rose;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 325px;
    position: sticky;
    top: 50px;
    width: 100%;
    z-index: 1;
    padding: 50px 0;

}


.banner-titles{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    h1,p{
        color: #fff;
    }
    p{
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 1;
        span{
        
        background-image: linear-gradient(to right, $jaune 0%, $jaune 100%);
        background-position: 0 100%;
        background-size: 100% 3px;
        -webkit-transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.150, 0.860);
        transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.150, 0.860);
        padding: 0.25rem 0;
        background-repeat: no-repeat;
        line-height: 1.5;
        }
    }
}

.breadcrumb-item{
    text-decoration: none;
    font-weight: 300;
    opacity: .8;
    a{
        color: white;
    }
    &.active{
        opacity: 1;
        color: white;
    }
}



    


