/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');


/* Colors */

$primaire: #E4117B;
$secondaire: #B60BD2;
$rose-clair: #F679B8;
$noir: #17010C;
$blanc: #fdfdfd;
$violet: #a81d62;
$jaune: #FFE482;
$rose:#f679b8;


/* Backgrounds */

.bg-violet {
    background-color: $violet;
}
.bg-blanc {
    background-color:  $blanc;
}
.bg-rose {
    background-color:  $rose-clair;
    width: 80%;
}



body, p {
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

h1, .h1, h2, .h2, h3, .h3 {
    line-height: 1.1;
}

h1, .h1 {
    font-size: 1.75rem;
}

h2, .h2 {
    font-size: 20px;
    margin-bottom: 30px;

    @media screen and (min-width: 500px){
        font-size: 25px;
    }
}

h3, .h3{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
    color: $primaire;

    @media screen and (min-width: 500px){
        font-size: 28px;
    }
}


p{
    font-weight: 300;
    font-size: 14px;
    @media screen and (min-width: 500px){
        font-size: 18px;
    }
}
/* Utilities */


/* Buttons */

.btn {
    padding: 6px 18px;
    border-radius: 30px;
    font-size: 16px;
}


.btn-primary {
    background-color: $primaire;
    border-color: $primaire;
    color: $noir;
    line-height: 110%;
}

.btn-secondary {
    background-color: $secondaire;
    border-color: $secondaire;
    color: $blanc;
}