/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');


/* Colors */

$primaire: #E4117B;
$secondaire: #B60BD2;
$rose-clair: #F679B8;
$noir: #17010C;
$blanc: #fdfdfd;
$violet: #a81d62;
$jaune: #FFE482;
$rose:#f679b8;


/* Backgrounds */

.bg-violet {
    background-color: $violet;
}
.bg-blanc {
    background-color:  $blanc;
}
.bg-rose {
    background-color:  $rose-clair;
    width: 80%;
}

section{
    padding-top: 25px;
    padding-bottom: 25px;
    @media screen and (min-width: 991px){
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

body, p {
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

h1, .h1, h2, .h2, h3, .h3 {
    line-height: 1.1;
}

h1, .h1 {
    font-size: 1.75rem;
    font-weight: 800;
    font-style: italic;

    @media screen and (min-width: 992px){
        font-size: 2.5rem;
    }
    
}

h2, .h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;

    @media screen and (min-width: 992px){
        font-size: 2rem;
    }
}

h3, .h3{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
    color: $primaire;

    @media screen and (min-width: 991px){
        font-size: 28px;
    }
}


p{
    font-weight: 300;
    font-size: 16px;
    @media screen and (min-width: 991px){
        font-size: 18px;
    }
    
}

b, strong {
    font-weight: 700;
    font-style: italic;
}

/* Utilities */

.mb-50{
    margin-bottom: 50px;
}

.mb-75 {
    margin-bottom: 75px;
}



@media screen and (min-width: 991px){
    .mt-lg-75 {
        margin-top: 75px;
    }
    .mt-lg-125 {
        margin-top: 125px;
    }
    .mb-lg-75 {
        margin-bottom: 75px;
    }
    
    .mb-lg-100 {
        margin-bottom: 100px;
    }
    
    .pb-lg-100{
        padding-bottom: 100px;
    }
}
    



/* Buttons */

.btn {
    padding: 6px 25px;
    border-radius: 30px;
    font-size: 16px;
    width: fit-content;
}


.btn-primary {
    background-color: $jaune;
    border-color: $jaune;
    color: $noir;
    line-height: 110%;
    
    &:hover{
        background-color: transparent;
        color: $noir;
        border-color: $jaune;
    }
}

.btn-secondary {
    background-color: $secondaire;
    border-color: $secondaire;
    color: $blanc;
}