#footer{
    z-index: 10;
    position: relative;
    font-weight: 300;

    .nav-link {
        margin-bottom: 1.5rem;
        &::after {
            background-color: white;
            bottom: 0;
            left: 0;
            height: 1px;
        }
        &:hover::after {
            width: 100%;
        }
    }
    .nav-social {
        .nav-link {
            padding: 0;
            margin-bottom: 1rem;
            &::after {
                background-color: white;
                bottom: .25rem;
                left: 2rem;
                height: 1px;
            }
            &:hover::after {
                width: calc(100% - 2rem);
            }
        }
    }
    .nav-footer-bottom {
        .nav-item {

            .nav-link {
                margin-bottom: 0;
            }

            &+.nav-item {
                margin-top: 1rem;
            }

        }
    }
}