#footer{
    z-index: 10;
    position: relative;
    font-weight: 300;

    .nav-link {
        &::after {
            background-color: white;
            bottom: 0;
            left: 0;
            height: 1px;
        }
        &:hover::after {
            width: 100%;
        }
    }
    .nav-social {
        .nav-link {
            padding: 0;
            margin-bottom: 1rem;
            &::after {
                background-color: white;
                bottom: 0;
                left: 1.5rem;
                height: 1px;
            }
            &:hover::after {
                width: calc(100% - 1.5rem);
            }
            .bi {
                margin-right: .25rem;
            }
        }
    }
    .nav-footer-bottom {
        .nav-item {
            .nav-link {
                margin-bottom: 0;
            }
        }
    }

    @media screen and (min-width: 992px) {
        .nav-social {
            .nav-link {
                &::after {
                    left: 2rem;
                }
                &:hover::after {
                    width: calc(100% - 2rem);
                }
                .bi {
                    margin-right: .75rem;
                }
            }
        }
        .nav-footer-bottom {
            .nav-item {
                .nav-link {
                    &+.nav-item {
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
}