#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
}

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: ease-out 0.3s;
    box-shadow: 0px 4px 8px 0px #00000047;
    background-color: $blanc;
}

.navbar-brand {
    font-size: inherit;
}

.navbar-nav {
    background-color: $blanc;
}

.navbar-toggler {
    z-index: 10;
}

body.homepage .navbar {
    box-shadow: none;
}

body.homepage.scroll-active .navbar {
    box-shadow: 0px 4px 8px 0px #00000047;
    background-color: $blanc;
}

body.homepage .navbar-brand {
    opacity: 0;
}

body.homepage .navbar-brand.solid,
body.homepage.scroll-active .navbar-brand {
    opacity: 1;
}

.navbar-light .navbar-toggler {
    border: none;
}