

#main {
    padding-top: 1.5rem;
    background: $blanc;
    z-index: 10;
    position: relative;
    padding-bottom: 1.5rem;
    scroll-behavior: smooth;
}

body:not(.homepage)#main{
    margin-top: -1.5rem;
    border-radius: 20px 20px 0 0;
}



/* --------------- titre contenu --------------- */

.heading-title span {
    position: relative;
    font-style: italic;
    font-weight: bold;
    color: white;
}

.heading-title span::after {
    content: '';
    position: absolute;
    left: -2.5rem;
    right: -2.5rem;
    background-color: $primaire;
    z-index: -1;
}

h1.heading-title span::before, h1.heading-title span::after {
    height: 3rem;
    
}

h1.heading-title span::before {
    content: '';
    position: absolute;
    left: -2.75rem;
    right: -2.75rem;
    background-color: $jaune2;
    z-index: -1;
    transform: rotate(2deg);
}

h2.heading-title span::after {
    height: 3rem;
}


h2{
    font-weight: 800;
    font-style: italic;
    font-size: 32px;
    // span{
    //     position: relative;
    //     &::after{
    //         content:'';
    //         position: absolute;
    //         width: 100%;
    //         border-color: $primaire;
    //         left: 0;
    //         border-style: solid;
    //         border-width: 0 0 3px;
    //         bottom: -2px;
    //     }
    // }
    span {
        background-image: linear-gradient(to right, $primaire 0%, $primaire 100%);
        background-position: 0 100%;
        background-size: 100% 3px;
        -webkit-transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.150, 0.860);
        transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.150, 0.860);
        padding: 0.25rem 0;
        background-repeat: no-repeat;
        line-height: 1.5;
    }
}


/* --------------- block accueil --------------- */

.card-summary {
    background-color: transparent;
    margin-bottom: 80px;
}
.card-summary .card-body {
    position: relative;
    font-weight: 300;
    padding: 40px 0 0;
}

.card-summary .card-img {
    border-radius: 12px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}


.arrow-down svg{
    fill: $primaire;

    &:hover{
        fill: $violet;
    }
}

.cta-soutien{
    background-color: #b80bd236;
    h2 span::after {
        border-color: $secondaire;
    }
    h3{
        color: $secondaire;
    }
    .btn{
        background-color: $secondaire;
        border: $secondaire;
        color: white;
    }
    
}

// .card-summary .card-body .btn {
//     position: absolute;
//     top: 0;
//     left: 50%;
//     transform: translate(-50%,-50%);
// }

.card-text{
    margin-top: 10px;
    margin-bottom: 20px;
}

.liens-internes{
    // width: 80%;
    // margin: auto;

    .section-title {
        position: relative;
        font-style: italic;
        font-weight: bold;
        font-size: 24px;
        display: flex;
        justify-content: center;
        color: $blanc;
        width: auto;
        margin-bottom: 17px;

        @media screen and (min-width: 500px){
            margin: 40px 0px;
        }
    }

    .btn{
        margin: auto;
        display: inherit;
        width: 190px;
        margin-bottom: 30px;
        

        @media screen and (min-width: 500px){
            margin-top: 25px;
        }
    }
    
}

.sources {
    font-weight: 300;

    a{
        text-decoration: underline;
        color: $noir;
    }
}