#main {
    padding-top: 1.5rem;
    background: $blanc;
    z-index: 10;
    position: relative;
    padding-bottom: 1.5rem;
}

body:not(.homepage)#main{
    margin-top: -1.5rem;
    border-radius: 20px 20px 0 0;
}

.heading-title span {
    position: relative;
    font-style: italic;
    font-weight: bold;
}

.heading-title span::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background-color: #FFC700;
    opacity: 0.7;
    z-index: -1;
}

h1.heading-title span::after {
    bottom: 20%;
    height: .75rem;
}

h2.heading-title span::after {
    bottom: 25%;
    height: .5rem;
}

.card-summary {
    background-color: transparent;
    margin-bottom: 80px;
}
.card-summary .card-body {
    position: relative;
    font-weight: 300;
    padding: 40px 0 0;
}

.card-summary .card-img {
    border-radius: 12px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.card-summary .card-body .btn {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}