.recos-card {
    background-color: $blanc;
    width: 100%;
    margin: 3px;

    h2{
        margin-top: 25px;
        margin-bottom: 31px;
    }
    
    .titre-reco{
        display: flex;
        justify-content: center;
    }

    .contenu-recos{
        display: flex;
        width: fit-content;
        padding-bottom: 25px;
        margin-bottom: 9px;
        
        img{
            width: 100%;
            object-fit: cover;
        }

        p{
            padding-left: 37px;
            font-weight: 300;
            font-size: 14px;

            @media screen and (min-width: 500px){
                font-size: 20px;
            }
        }
    }
    
}