.reponse2{
    color: $white;
    border-radius: 10px;
}

.cadre{
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.minicadre{
    @media screen and (max-width: 920px){
       display: none;
    }
}
    