.testimonial{
    margin-bottom: 65px;
}

.card {
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 100%;
    padding: 24px 28px 8px;
    margin-bottom: 16px;
    position: relative;
    margin-top: -45px;

    .guillemets-haut{
        position: absolute;
        left: 0px; 
        top: -18px;
    }
}