.carousel-caption{
    position: initial;
    color: $dark;
}

.carousel-indicators{
    bottom: -12px;
}

.carousel-indicators [data-bs-target]{
    background-color: $pink;
    border: none;
    border-radius: 200px;
    width: 10px;
    height: 10px;
}

