// Jumbotron Homepage

.jumbotron {
    h1, .h1 {
        font-weight: 300;
        font-style: normal;
        span {
            display: block;
            width: fit-content;
            position: relative;
            font-style: italic;
            font-weight: bold;
            color: $white;
            margin-top: .75rem;

            &::before, &::after {
                content: '';
                position: absolute;
                height: 100%;
                top: 0;
                z-index: -1;
            }

            &::before {
                
                left: -1.25rem;
                right: -1.25rem;
                background-color: $primary;
                transform: rotate(2deg);
            }

            &::after {
                left: -1rem;
                right: -1rem;
                background-color: $pink;
            }

            @media screen and (min-width: 991px) {
                margin-top: 1rem;
            
                &::before {
                    left: -2rem;
                    right: -2rem;
                }
    
                &::after {
                    left: -1.75rem;
                    right: -1.75rem;
                }
            }
        
            @media screen and (min-width: 1200px) {
                margin-top: 1.25rem;
            
                &::before {
                    left: -2.75rem;
                    right: -2.75rem;
                }
    
                &::after {
                    left: -2.5rem;
                    right: -2.5rem;
                }
            }
        }
    }
    .arrow-down svg {
        fill: $secondary;
    
        &:hover, &:focus {
            fill: $secondary2;
        }
    }
}

