.sources {
    .row {
        ul {
            li {
                list-style-type: none;
                color: $pink;
                font-size: 1.125rem;
                a {
                    color: $pink;
                }
            }
        }
        div {
            margin-top: 2rem;
        }
    } 
}
