.liste_soutien {
    margin-bottom: 0;
    li{
        position: relative;
        list-style-type: none;
        padding-left: 40px;
        &::before{
            content: '';
            position: absolute;
            background-image: url(/assets/images/check_box.svg);
            left: 0px;
            top:4px;
            width: 35px;
            height: 30px;
            background-repeat: no-repeat;
            @media screen and (min-width:920px){
                top:5px;
            }
        }
    }
}

.list-group-numbered {
    list-style-type: none;
    @media screen and (min-width: 920px){
        padding-top: 9rem;
    }
    &>li {
        text-align: center;
        position: relative;
        counter-increment: section;
        
        &::before{
           content: counters(section, ".");
           position: absolute;
           top: -20px;
           left: 50%; 
           transform: translate(-50%, -50%);
           font-size: 50px;
           color: $violet;
           font-weight: 700;
           @media screen and (min-width: 920px){
               top: -35px;
               left: 50%;
               font-size: 80px;
               
           }   
       }
    }
}