<!DOCTYPE html>
<html lang="fr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="description" content="{{ page.description }}">

    <link rel="stylesheet" href="{{ " /assets/css/bootstrap.min.css " | relative_url }}" />
    <link rel="stylesheet" href="{{ " /assets/css/styles.css " | relative_url }}">

    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon.png">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>

<body id="body" class="homepage bg-blanc">
    {% include header.html %}
    {% if page.url != '/' %}
    {% include banner.html %}
    {% endif %}
    <main id="main" >
        <article>

            {{ content }}
            
        </article>
    </main>
    {% include footer.html %}

    <script src="{{ " /assets/js/bootstrap.min.js " | relative_url }}"></script>
    <script src="{{ " /assets/js/js.js " | relative_url }}"></script>
</body>

</html>