

/* --------------- Utilities --------------- */

.mb-56 {
    margin-bottom: 3rem;
}
.mb-72 {
    margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
    .mb-56 {
        margin-bottom: 3.5rem;
    }

    .mb-72 {
        margin-bottom: 4.5rem;
    }
}

.section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    @media screen and (min-width: 768px) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    &:not([class*="bg-"])+&:not([class*="bg-"]),
    &.bg-white+&.bg-white,
    &.bg-purple+&.bg-purple,
    &.bg-violet+&.bg-violet {
        padding-top: 0;
    }
}
